// Grid layout
.img-search-result-entries{
  tbody.topic-list-body{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border: 0;
  };
  tr{
    display: grid;
    height: 300px;
    overflow: hidden;
    grid-template-rows: 2fr auto auto 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        " image image "
        " title activity"
        " title posters"
        " post post";
    td{
      display: block;
      &.img-search-img{
        grid-area: image;
      }
      &.img-search-topic-title{
        grid-area: title;
      }
      &.img-search-activity{
        grid-area: activity;
      }
      &.img-search-posters{
        grid-area: posters;
      }
      &.img-search-post{
        grid-area: post;
      }
    }
  }
}

// Image
.img-search-img{
  a{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center
  }
  div.img-thumbnail{
    position: relative;
    width: 100%;
    height: 100%;
  }
  img.background-thumbnail{
    z-index: 0;
    position: absolute;
    object-fit: cover;
    filter: blur(4px);
    width: calc(100% + 4* 4px);
    height: 160%;
    top: calc(-2* 4px);
    left: calc(-2* 4px);
  }
  img.main-thumbnail{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// Text
.img-search-result-entries{
  .img-search-activity,.img-search-topic-title,.img-search-posters,.img-search-post{
      z-index: 2;
      position: relative;
      background-color: rgba(var(--primary-low-rgb), 0.85);
      max-width: none;
  }

  .img-search-topic-title{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}